doctype html
  html
    head
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
      link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")
      link(rel="stylesheet", href="../bower_components/font-awesome/web-fonts-with-css/fontawesome.min.css")
      link(rel="stylesheet", href="css/style.css")
      title Awesome Grocery List Site
    body
      .container
        table.table.table-hover
          