/* Remove padding and margin */
* {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  margin: auto;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  background: #fafafa;
  color: black;
  padding: 5%;
}

/*Form stuff*/
form {
  margin: auto;
  vertical-align: bottom;
  padding: auto;
}

select {
  -webkit-appearance: none;
  border-radius: 3px;
  border-width: 1px solid #52525271;
}

select:hover,
button:hover,
input:hover {
  border: 1px solid #FED766;
}

#serveInput {
  width: 75px;
  margin-right: 10%;
}

label {
  margin-right: 5px;
  margin-left: 10%;
}

button {
  background: transparent;
  -webkit-appearance: none;
  border: 1px solid #52525271;
  border-radius: 3px;
  padding: 0;
  vertical-align: middle;
}

button:hover {
  border: 1px solid #FED766;
}

input {
  background: transparent;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid #52525271;
  vertical-align: middle;
}

input:hover {
  border: 1px solid #FED766;
}

#qtyInput {
  width: 12%;
  height: 100%;
  display: inline;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
}

#ingInput {
  margin: 0;
  width: 40%;
  height: 100%;
  display: inline;
  vertical-align: middle;
}

#unitInput {
  margin-left: -5px;
  width: 7%;
  height: 100%;
  display: inline;
  border-left: none;
  border-radius: 0px 3px 3px 0px;
  background-color: #52525271;
  vertical-align: middle;
}

#addbtn {
  margin-right: .5%;
  height: 100%;
  width: 5%;
  vertical-align: bottom;
}

#addJSON,
#addList {
  margin: 0 auto;
  margin-top: 10px;
  height: 40px;
  background-color: #bad7ec70;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Table stuff*/
#recipe {
  padding-bottom: 2%;
  text-align: center;
  margin: auto;
  width: 75%;
}

#ingTable {
  margin: auto;
}

thead {
  border-bottom: 2px solid gray;
}

td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bad7ec70;
}

#topper {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

#removeBtn {
  width: 50%;
  background-color: rgba(151, 76, 69, 0.377);
  color: white;
}

#remove {
  border-width: 0px;
}

div > h1,
h2 {
  text-align: center;
}

#masterList {
  width: 100%;
  padding-left: 14%;
}

#ingredient {
  margin-bottom: 3%;
}

#blankholder {
  visibility: visible;
  color: #25506da6;
  position: relative;
  border-bottom: 1px solid #bad7ec70;
}

#blankholder2 {
  visibility: visible;
  color: #25506da6;
  position: relative;
  border-bottom: 1px solid #bad7ec70;
}

/*Other*/
#placeholder {
  text-align: center;
}

hr {
  color: #52525271;
  position: relative;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */